body{
     font-family: "Roboto", sans-serif;
     background-color: black;
}

.main-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:90vh;
}

.child-container{
    border:2px solid black;
    border-radius:20px;
    padding:30px;
    background-color: white;
}

.child-container .instruction{
    text-align: center;
}

.btn-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
}

.btn-container button{
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    background-color: white;
    border:2px solid black;
    border-radius:5px;
    padding:5px 20px;
    cursor:pointer;
    transition: 0.1s ease-in;
}

.btn-container button:hover{
    background-color: rgb(255, 143, 14);
    border:2px solid rgb(255, 141, 59);
    color:white;
}

.shoot-btn{
    width:100%;
    font-family:"Roboto", sans-serif;
    font-weight: 600;
    margin-top:1rem;
    padding:10px 0;
    background-color: black;
    color:white;
    border:2px solid black;
    border-radius:5px;
    cursor:pointer;
    transition: 0.1s ease-in;
}

.shoot-btn:hover{
    background-color: rgb(0, 109, 0);
    border:2px solid rgb(0, 97, 0);
}


.output-container{
    justify-content: center;
    margin-top:20px;
    display:flex;
    gap:0.6rem;
}

.output-container .output{
    font-weight:800;
}